@model RestaurantWebsite.ViewModels.SpecialFormViewModel

@{
    var h1Text = (Model.Id == 0) ? "New Special" : "Edit Special";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = h1Text;
}


<h1>@h1Text</h1>
@using (Html.BeginForm("Save", "Special"))
{
    @Html.ValidationSummary(true, "Please fix the following errors")
    <div class="form-group">
        @Html.LabelFor(c => c.Name)
        @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Description)
        @Html.TextAreaFor(c => c.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Description)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.StartDate)
        @Html.TextBoxFor(c => c.StartDate, "{0:MM/dd/yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.StartDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.EndDate)
        @Html.TextBoxFor(c => c.EndDate, "{0:MM/dd/yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.EndDate)
    </div>

    if (Model.SpecialPictureFilePath == null)
    {
        Model.SpecialPictureFilePath = "/Images/SpecialImages/no-picture.png";
    }
    
    @Html.HiddenFor(c => c.Id)

    <button type="submit" class="btn btn-primary">Save</button>
}

@Html.Action("EditPicture", new { id = Model.Id })

<h2>Extras</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Regular Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var food in Model.FoodsOnSpecial)
        {
            <tr>
                <td>@food.Name</td>
                <td>@food.BasePrice</td>
            </tr>
        }
    </tbody>
</table>
@Html.ActionLink("Add Extra", "PickFood", "Special", new { SpecialId = Model.Id }, new { @class = "btn btn-secondary new-item" })


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}