@model RestaurantWebsite.ViewModels.SpecialImageFormViewModel
@{
    Layout = null;
}

<h2>Edit Picture</h2>

@using (Html.BeginForm("SavePicture", "Special", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <img src="@Model.FilePath" width="400" />
    <div class="form-group">
        @Html.LabelFor(c => c.File)
        <input type="file" name="file" id="File" class="form-control" />   
    </div>

    @Html.HiddenFor(c => c.SpecialId)
    @Html.HiddenFor(c => c.PictureId)
    @Html.HiddenFor(c => c.SpecialName)

    <div class="btn-group" role="group" aria-label="Special Picture Options">
        <button type="submit" value="Upload" class="submit btn btn-primary">Upload</button>
        @Html.ActionLink("Delete", "DeletePicture", new { id = Model.SpecialId }, new { @class = "btn btn-danger"})
    </div>
}
