@model RestaurantWebsite.ViewModels.FoodListViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="menu container">
    <h1>Our Delicious Menu</h1>
    @Html.ActionLink("New Food", "New", "Food", null, new { @class = "btn btn-primary new-item" })
    <div class="row">
        @foreach (var food in Model.Foods)
        {
            <div class="food-item col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        @Html.Action("MenuPreview", "FoodPicture", new { @foodId = food.Id })
                        <h3 class="card-title">@food.Name</h3>
                        <p class="card-text">@food.Description</p>
                        <p class="food-item-price">@food.BasePrice</p>
                        @Html.ActionLink("Edit", "Edit", "Food", new { id = food.Id }, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        }
    </div>
</section>

@section scripts {
    @*<script src="~/Scripts/FoodThumbnail.js"></script>
    <script>
        $(document).ready(function() {
            $.getJSON("/api/food", function (data, status) {
                for (var food of data) {
                    $(".row").append('<div class="food-item col-sm-6 col-md-4 col-lg-3">' + FoodThumbnail(food["name"], food["description"], "", "") + '</div>')
                }
            })
        })
    </script>*@
}